<footer class="flex justify-center mt-6 pt-6 border-t">
  <small>
  <span x-data="{message:'Made with ❤️️ by Electric Citizen️ ⚡'}" x-text="message"></span>
  <a href="https://github.com/broeker/microsite/blob/main/{{ page.inputPath }}">Edit this page on GitHub</a>b
  </small>
</footer>
