---
layout: layouts/base.njk
section: page
---
<div class="flex justify-end">
<div class="inline-block w-auto text-xs bg-gray-100 pt-1 pr-3 pb-1 pl-3 rounded ">Updated: <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time></div>
</div>
<h1>{{ title }}</h1>
<div class="pl-4 pr-4">
{{ layoutContent | safe }}
</div>